mixin SectionWithMedia({ title, subtitle, textType = 'h', text, buttonText, mediaType = 'video', mediaSrc, mediaAlt = '' })
	include Heading.pug
	include AnimatedTag.pug

	-
		const wrapper = [
			'lg:flex lg:gap-10 2xl:gap-8 p-4 lg:items-center lg:p-8 relative rounded-s-full border-2 border-[var(--green)] border-e-0',

			'before:content-[""] before:absolute before:block before:top-full before:start-full before:w-screen before:border-t-2 before:border-[var(--green)] before:bg-[var(--green)]',

			'after:content-[""] after:absolute after:block after:bottom-full after:start-full after:w-screen after:border-t-2 after:border-[var(--green)] after:bg-[var(--green)]',

			textType === 'h' && 'xl:gap-0'
		]

		const desktopText = [
			'flex flex-col justify-between gap-4 w-fit xl:gap-8 max-lg:hidden 2xl:items-center',
			textType === 'h' ? 'items-end' : 'items-start'
		]


	section.pt-20.overflow-x-clip

		div.container.wrapper.mx-auto

			+Heading({ title, subtitle })

			div(class="flex flex-col items-center justify-between gap-4 lg:hidden")

				if textType === 'h'

					p(
						class="text-[clamp(1.5rem,1.241rem+1.105vw,2.125rem)] mx-auto text-center max-w-11/12 text-balance"
						data-custom-font-size
					)= text

				else if textType === 'p'

					p(class="mx-auto text-center max-w-11/12 text-balance")= text

				+Button({
					text: buttonText,
					color: 'accent'
				})

			div(class=wrapper)

				+AnimatedTag('div', {
					class: 'overflow-hidden lg:min-w-1/2 p-4 lg:p-6 rounded-full border-2 border-[var(--green)]',
					data: {
						'data-animated': true,
						'data-effect-vanish-in': true,
						'data-delay': 100
					}
				})

					if mediaType === 'video'

						div.overflow-hidden.rounded-full

							video(autoplay playsinline muted loop preload="auto")

								source(src=mediaSrc + '.webm' type="video/webm")
								source(src=mediaSrc + '.mp4' type="video/mp4")
								| Your browser does not support the video tag.

					else if mediaType === 'image'

						img(
							class="overflow-hidden rounded-full"
							src=mediaSrc
							width="725"
							height="484"
							alt=mediaAlt
						)

				div(class=desktopText)

					if textType === 'h'

						p(
							class="text-[clamp(1.5rem,1.241rem+1.105vw,2.125rem)] text-right text-balance xl:max-w-3/4 2xl:text-center"
							data-custom-font-size
						)= text

					else if textType === 'p'

						p(class="max-w-4/5 text-balance 2xl:text-center")= text

					+Button({
						text: buttonText,
						color: 'accent'
					})
