mixin Image({ img, classes, attr })
	-
		const wrapper = [
			'overflow-hidden shadow-md aspect-9/16 rounded-4xl lg:aspect-auto lg:h-full',
			classes
		]


	div(class=wrapper)&attributes(attr)

		picture

			source(media="(max-width: 1024px)" srcset=`${img.src}@mob.webp` type="image/webp")
			source(media="(max-width: 1024px)" srcset=`${img.src}@mob.jpg` type="image/jpg")
			source(srcset=`${img.src}.webp` type="image/webp")
			img(
				class="block w-full h-full bg-white"
				src=`${img.src}.jpg`
				width="262"
				height="415"
				alt=img.alt
			)