-	const toTopButton = 'opacity-0 scale-75 invisible z-[2] drop-shadow box-content text-white bg-neutral-black-op4 w-5 h-5 p-4 fixed bottom-4 right-4 rounded-full border-2 border-solid border-current duration-200 active:scale-95'


if jsDisabled
	a.to-top(
		href="#"
		class=toTopButton
		aria-label="To top button"
	)
else
	button#to-top.to-top(
		class=toTopButton
		aria-label="To top button"
	)