a.overflow-hidden.relative.min-h-80.w-full.block.group.rounded-e-4xl.rounded-bl-4xl(
	href="#"
	aria-label="Explore more recipes"
)

	img(
		class="absolute inset-0 w-full h-full duration-300 group-hover:scale-105 group-focus-visible:scale-105"
		src="img/explore-more.jpg"
		alt="A table filled with various Caucasian or Middle Eastern dishes: khachapuri with egg, vegetable and meat stew, appetizers with vegetables and hummus, meat with apples, flatbread, sauces, and herbs"
	)

	.custom-corner(class="relative p-3 rounded-br-4xl w-fit bg-white flex items-center gap-4 font-medium text-2xl text-[var(--green)]")

		span(class="no-underline bg-[linear-gradient(currentColor,_currentColor)] bg-no-repeat bg-[position:0%_100%] bg-[length:0%_1px] transition-[background-size] duration-300  group-hover:bg-[length:100%_1px] group-focus-visible:bg-[length:100%_1px]") Explore more

		div(class="aspect-2/1 flex justify-center items-center border-2 border-[var(--green)] group-hover:bg-[var(--green)] group-focus-visible:bg-[var(--green)] p-4 rounded-full duration-150")

			svg(
				class="leading-none text-[var(--gren)] group-hover:text-white group-focus-visible:text-white"
				width="20"
				height="18"
				viewBox="0 0 20 18"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			)

				path(
					d="M19.1953 10.3408L12.3203 17.2158C12.0625 17.4736 11.7188 17.6025 11.375 17.6025C10.9883 17.6025 10.6445 17.4736 10.3867 17.2158C9.82812 16.7002 9.82812 15.7979 10.3867 15.2822L14.8984 10.7275H1.75C0.976562 10.7275 0.375 10.126 0.375 9.35254C0.375 8.62207 0.976562 7.97754 1.75 7.97754H14.8984L10.3867 3.46582C9.82812 2.9502 9.82812 2.04785 10.3867 1.53223C10.9023 0.973633 11.8047 0.973633 12.3203 1.53223L19.1953 8.40723C19.7539 8.92285 19.7539 9.8252 19.1953 10.3408Z"
					fill="currentColor"
				)

