mixin Event({ id, title, date, description, place, index })
	include ../../../../AnimatedTag.pug


	+AnimatedTag('div', {
		class: 'event border-2 border-solid rounded-5p text-white',
		data: {
			'data-animated': true,
			'data-effect-slideRight': true,
			'data-delay': `${++index}00`
		}
	})

		details

			summary(class="grid gap-2 p-5 font-medium list-none outline-none cursor-pointer md:gap-4")

				h3.event__title(id=`${id}-event` aria-describedby=`${id}-description` class="text-2xl font-regular lg:text-3xl")= title

				span.event__group

					span.event__date(class="relative pl-9")= date

					span.event__place(class="relative pl-9")= place

				span.event__button(class="relative flex items-center pr-8 text-purple focus-visible:outline-purple") More

		div.event__content.duration-300.grid

			.event__body.overflow-hidden.px-5

				p.accordion-item__description(id=`${id}-description` class="mb-5" aria-labelledby=`${id}-event`)= description

				a.event__link.relative.hidden.mb-5.pl-9.font-regular.text-purple(href="#")
					| Sign up on the waiting list