mixin Image({ img, classes })

	.overflow-hidden.shadow-md.rounded-full(class=classes)

		picture

			source(media="(max-width: 1024px)" srcset=`${img.src}@mob.webp` type="image/webp")
			source(media="(max-width: 1024px)" srcset=`${img.src}@mob.jpg` type="image/jpg")
			source(srcset=`${img.src}.webp` type="image/webp")
			img(
				class="block w-full h-full bg-white lg:max-xl:aspect-square"
				src=`${img.src}.jpg`
				width=img.width
				height=img.height
				alt=img.alt
			)