mixin Card({ img, title, idx })
	include ../../../Button.pug
	include ../../../AnimatedTag.pug


	+AnimatedTag('a', {
		class: ['block overflow-hidden shadow-xs group rounded-4xl', idx === 0 ? 'z-[1]' : idx === 1 ? 'z-[2]' : 'z-[3]'],
		static: {
			href: '#'
		},
		data: {
			'data-animated': true,
			'data-effect-slide-up': true,
			'data-delay': `${++idx * 100 + 100}`
		}
	})

		div(class="h-full flex flex-col items-start gap-4 p-6 overflow-hidden bg-white group-hover:bg-[var(--green)] group-focus-visible:bg-[var(--green)] md:gap-8 md:p-8 lg:max-xl:p-6 rounded-4xl duration-200")

			div(class="overflow-hidden rounded-2xl aspect-square")

				picture

					source(
						media="(max-width: 639px)"
						srcset=`${img.src}@md.webp 1x, ${img.src}@md@x2.webp 2x`
						type="image/webp"
					)
					source(
						media="(max-width: 639px)"
						srcset=`${img.src}@md.jpg 1x, ${img.src}@md@x2.jpg 2x`
						type="image/jpg"
					)

					source(
						media="(max-width: 767px)"
						srcset=`${img.src}@sm.webp 1x, ${img.src}@sm@x2.webp 2x`
						type="image/webp"
					)
					source(
						media="(max-width: 767px)"
						srcset=`${img.src}@sm.jpg 1x, ${img.src}@sm@x2.jpg 2x`
						type="image/jpg"
					)

					source(
						media="(max-width: 1023px)"
						srcset=`${img.src}@md.webp 1x, ${img.src}@md@x2.webp 2x`
						type="image/webp"
					)
					source(
						media="(max-width: 1023px)"
						srcset=`${img.src}@md.jpg 1x, ${img.src}@md@x2.jpg 2x`
						type="image/jpg"
					)

					source(
						media="(max-width: 1279px)"
						srcset=`${img.src}@lg.webp 1x, ${img.src}@lg@x2.webp 2x`
						type="image/webp"
					)
					source(
						media="(max-width: 1279px)"
						srcset=`${img.src}@lg.jpg 1x, ${img.src}@lg@x2.jpg 2x`
						type="image/jpg"
					)

					source(
						media="(max-width: 1535px)"
						srcset=`${img.src}@xl.webp 1x, ${img.src}@xl@x2.webp 2x`
						type="image/webp"
					)
					source(
						media="(max-width: 1535px)"
						srcset=`${img.src}@xl.jpg 1x, ${img.src}@xl@x2.jpg 2x`
						type="image/jpg"
					)

					source(
						srcset=`${img.src}@2xl.webp 1x, ${img.src}@2xl@x2.webp 2x`
						type="image/webp"
					)
					img(
						src=`${img.src}@2xl.jpg`
						srcset=`${img.src}@2xl@x2.jpg 2x`
						alt=img.alt
						width="427"
						height="427"
						class="w-full h-full duration-300 group-hover:scale-105 group-focus-visible:scale-105 group-active:scale-100"
					)

			h4(class="grow leading-tight text-[var(--green)] group-hover:text-[var(--light)] group-focus-visible:text-[var(--light)] duration-200")= title

			+Button({
				type: 'decor',
				text: 'Read Article',
				icon: true,
				color: 'accent',
				classes: 'group-active::scale-95 group-active:brightness-80'
			})
